[Unit]
Description=logenv display service
Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/local/bin/logenv -o -q
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
